<div class="container">
    <h1>Tweet details</h1>
    <%= render partial: 'tweet', locals: { tweet: @tweet } %> <!---El  locals: { tweet: @tweet } nadie busca aprenderlo de memoria
    pero hay que saber que es que yo quiero hacer un partial pero para un id de mi modelo, es decir, para cada elemento del modelo y
    eso lo puedo buscar en google--->
</div>