<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!--<a class="navbar-brand" href="#">Navbar</a> <%# Aqui va el titulo de la app y generalemnte se le pune la ruta para que vuelva al home (la raiz/root)%>-->
    <%=link_to 'sTwitter', tweets_path , class: 'navbar-brand'%> <%# Ponerle el class: 'navbar-brand ,hace que me quede en el estilo de la navbat, cambiamos el root_path por el tweets_path debido a que 
    el root_path es util al principio pero dps te sirve de poco y nada%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
           <%=link_to 'Home', tweets_path , class: 'nav-link active'%>  <!---Aqui tb lo cambiamos-->
        </li>
        <li class="nav-item">
           <%=link_to 'Crear', new_tweet_path , class: 'nav-link active'%>  <!---Aqui tb lo cambiamos-->
        </li>
        <% if user_signed_in? %> <!--- si estas logueado aparece este boton--->
          <li class= "nav-item">
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class:'btn btn-outline-danger' %>
          </li>
        <%end%>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>